*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	font-size: 1rem;
}

.pop-total .row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.d-flex{ 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
} 

.justify-content-center{
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
} 

.align-items-center{
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.pop-area {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.pop-total {
    max-width: 800px;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 554px;    
}
.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    cursor: pointer;
    opacity: .3;
}
.close-icon:hover {opacity:.8;}

.col1.left img{
	height: 100%;
}
.pop-text1{
	font-size: 16px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    padding: 23px 0;
}
.pop-text2{
	    font-size: 35px;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: black;
}
.pop-text3{
	    font-size: 16px;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: black;
        padding-bottom: 25px;
    padding-top: 6px;
}
.bx-inputwrap input {
    font-size: 16px;
    text-align: left;
    background-color: transparent;
    border-style: solid;
    border-color: #38708d;
    border-width: 0 0 3px;
    padding: 5px;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    color: #767676;
    height: 40px;
    width: 100%;
}
.infusion-field {
    margin-bottom: 10px;
}
.bx-button{
	padding: 13px 60px;
    font-size: 16px;
    background-color: #faa21a;
    border-style: none;
    border-color: #faa21a;
    border-width: 2px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    margin-top: 6px;
    width: 100%;
    
}
.no-thanks{
	background-color: transparent;
    padding: 0 0 2px;
    font-size: 16px;
    color: gray;
    border-style: solid;
    border-color: gray;
    border-width: 0 0 1px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
}
.pop_left_img {
    width: 100%;
    background: url(../images/popup.jpg) no-repeat top right;
    background-size: cover;
    height: 100%;
}
/* .pop-right {
    width: 73%;
    margin-top: 50px;
} */
.pop-right {
    position: relative;
    margin: 80px auto;
    padding-right: 70px;
}

.bx-inputwrap {
    margin-bottom: 20px;
}
.pop-right a:hover{
	    color: #000;
	    text-decoration: none;
}
.col1{width: 50%;}
.promo-code{
    background-color: #faa21b;
        width: 100%;
        padding: 8px;
        position: relative;
}
.unlocked{
        font-size: 14px;
    line-height: 1.5;
    color: #fff;
    text-align: right;
        font-weight: 600;
}
.code-text{
   color: white; 
   font-size: 14px;
}
.code-text span{
    padding: 2px;
    border-style: none;
    text-transform: uppercase;
    border-width: 1px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    color: white;
    border-color: white;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
}
.close-ic {
    position: absolute;
    right: 0px;
    top: 4px;
}
.close-ic img {
    width: 56%;
}

@media (max-width:991.98px){
    .pop-total {
        max-width: 90%;
        height: initial;
    }
    .pop-right {
        width: 100%;
    }
    .pop-text2 {
        font-size: 25px;
    }
    .pop-text3 {
        font-size: 14px;
        padding: 0 0 15px 0;
    }
    .pop-text1{padding: 0 0 15px 0;}
    .bx-inputwrap input {
        font-size: 15px;
        border-width: 0 0 2px;
        padding: 5px 5px 5px;
        margin-bottom: 10px;
    }
    .bx-button {
        padding: 10px 40px;
        font-size: 15px;
        border-width: 2px;
        border-radius: 30px;
        margin-top: 6px;
    }

    .no-thanks{font-size: 14px;}

    .close-icon {width: 20px;}

}

@media (max-width:767px){
    .unlocked{
        text-align: center;
    }
    .code-text{
            text-align: center;
    padding: 7px 0;
    }
    .pop-right {        
        padding-right: 20px;
    }
    .pop-logo{
        display: none;
    }
    .pop-total .col-12
    {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}

@media (max-width:575.98px){
    .pop-total .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .pop-total {
        max-width: 80%;
        border-radius: 15px;
    }
    .pop-right {
        margin: 0px auto 15px;
        padding: 0px 20px;
    }
    .pop-text2 {
        font-size: 20px;
    }
    .pop-text3,.bx-button,.bx-inputwrap input{font-size: 14px;}

    .pop_left_img {
        width: 100%;
        background: url(../images/popup_mob.jpg) no-repeat top center;
        background-size: cover;
        height: 200px;
    }
    .pop-logo img {
        max-width: 100px;
    }
     .pop-text1 {
    padding-top: 30px !important;
} 
}

@media (max-width:479.98px){

    .pop-text1,.pop-text3, .bx-button, .bx-inputwrap input {
        font-size: 12px;
    }
    .pop-logo img {
        max-width: 120px;
    }
    .pop-total {line-height: 1;}
    .pop-text1, .pop-text3 {
        padding: 0 0 10px 0;
    }
    .no-thanks {
        font-size: 10px;
    }
    .bx-inputwrap {
        margin-bottom: 0;
    }

    .close-icon {
        right: 5px;
        top: 5px;
    }
    .close-icon1{
        margin-top: 10px;
    }

}

@media (max-width:399.98px){
.pop-text2 {
    font-size: 18px;
}
.pop-text1,.pop-text3, .bx-button, .bx-inputwrap input {
    font-size: 11px;
}
.bx-button {
    padding: 10px 20px;
}

.pop-text1, .pop-text3 {
    padding: 0 0 5px 0;
    line-height: 1.2;
}
.bx-inputwrap input {
    margin-bottom: 0px;
}
.bx-inputwrap input {
    margin-bottom: 0px;
    font-size: 12px;
}
}


.popup-left {
    width: 49%;
    float: left;
}

.popup-right {
    width: 49%;
    float: right;
    padding-right: 5px;
}

.desk-new{display: block;}
.mob-new{display: none;}


@media only screen and (max-width: 767px){
  .popup-left {
    width: 100%;
}
  .popup-right {
    width: 100%;
    padding: 0 20px;
}
.desk-new{display: none;}
.mob-new{display: block;}

}

@media only screen and (max-width:767px){


}